* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

nav {
  background-color: red;
  color: white;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

nav div {
  padding: 10px;
  width: 15%;
  display: inline-block;
}
.course {
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  width: 33%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 0.8em;
  float: left;
}

.articles {
  margin-left: 5%;
  margin-top: 30px;
  width: 80%;
  column-count: 3;
  float: left;
}

.container {
  margin: 20px auto;
  width: 80%;
}

.sidebar {
  height: 500px;
  margin-top: 10px;
  width: 10%;
  background-color: red;
  color: yellow;
  float: left;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.sidebar div {
  padding: 10px;
}

section.courses {
  float: left;
  margin-left: 5%;
  width: 80%;
}

.course img {
  width: 50%;
}

footer {
  background-color: yellow;
  clear: both;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}
