
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
}

body {
  font-weight: bolder;
}
.gallery {
  width: 60%;
  margin: 20px auto;
  clear: both;
  overflow-y: auto;
}
.gallery img {
  width: 20%;
  float: left;
}

.cards {
  overflow-y: auto;
}
.cards .card {
  width: 33%;
  padding: 20px;
  float: left;
  text-align: center;
}

.cards .card img {
  width: 50%;
}

.bottle {
  width: 70%;
  margin: 30px auto;
  overflow-y: auto;
}

nav,.container,footer {
  margin:0px auto;
  max-width: 1000px;
  min-width: 576px;
}

nav {
  top: 5px;
  padding: 5px;
  background-color: yellow;
  position: -webkit-sticky;
  position: sticky;
  overflow-y: auto;
  z-index: 10000;
}

nav div {
  margin-left: 20px;
  padding: 5px;
  float: left;
}

header {
  text-align: center;
  position: relative;
}

header img {
  width: 80%;
}

aside {
  top: 15%;
  width: 20%;
  border-radius: 5px;
  padding: 10px;
  left: 15%;
  background-color: yellow;
  position: absolute;
  text-align: center;
}

aside a {
  margin-top: 40px;
  padding: 10px;
    border-radius: 10px;
  background-color: orange;
  color: white;
  text-decoration: none;
}

aside h3 {
  margin: 20px 0px;
}

main {
  margin: 0px auto;
  width: 80%;
}
main h1 {
  text-align: center;
}

main h1::after,
main:after {
  height: 2px;
  width: 30%;
  margin: 0px auto;
  margin-top: 30px;
  background-color: black;
  display: block;
  content: " ";
}

.bottle img {
  float: left;
  margin-left: 10%;
  width: 20%;
}

.bottle div {
  float: left;
  margin-top: 20px;
  text-align: justify;
  width: 50%;
}

.bottle div::first-letter {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid yellow;
  border-bottom: 1px solid yellow;
  font-size: 2em;
  font-weight: bolder;
}

footer {
  margin-top: 15px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: yellow;
  clear: both;
}

footer address {
  float: left;
  width: 20%;
}

footer div {
  text-align: center;
  width: 50%;
  float: left;
}

footer section {
  float: left;
}

footer img {
  width: 5%;
}
